body{
    font-family:  'Roboto', sans-serif;
    font-size: .8em;
}

a{text-decoration: none;}

h2,h3,p{
    display: flex;
    justify-content: start;
    align-items: center;
}

h4{letter-spacing: .1em;}

.container{padding: 1rem;}

.current{
    padding: .3rem;
    border-radius: .5rem;
    margin: 0 .5rem 0 .3rem;
}
 
.material-icons{margin-right: 0.7rem;}

.person{margin: .7rem;}

.person h1{
    font-size: 2.5em;
    letter-spacing: .2em;
    font-weight: 100;
    text-align: center;
}

.skills{padding-bottom: 1rem;}

.skill{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.skill-box{
    margin-right:.3em;
    padding-right:4.5rem;
    font-size: 0.6em;
    border-radius: 1rem;
}

.image-container{
    position: relative;
}

#profile-picture{
    width: 24%;
    border-radius: 50%;
    position: absolute;
    bottom:-10%;
    left: 37.38%;
    box-shadow: .1rem .1rem 0.3rem rgba(0,0,0,0.2);
}

.work{
    flex-basis: 50%;
    margin: .7rem .7rem .7rem 0;
}

.education{
    flex-basis: 50%;
    margin: 0 .7rem .7rem 0;
}

.education h1{
    background: linear-gradient(to right, #ffffff 0%, #8f8f8f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.copyright{
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    align-items: center;
}

.sides{flex-basis: 10%;}

.theme-switch{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-theme{
    cursor: pointer;
    font-size: 2em;
}

i{
    color: #f4f3f3;
    font-size: 1.5em;
    padding: 0 .5rem 0 .5rem;
    transition:color .5s;
    cursor: pointer;
}

.fa-flickr:hover{color:#ff0084;}

.fa-linkedin:hover{color:#0077b5;}

.fa-github:hover{color: #6e5494;}